---
import SentenceList from "../../../components/SentenceList.astro";
import applications, {
	Application,
	ScoredSentence,
} from "../../../data/applications";
import AuthedLayout from "../../../layouts/AuthedLayout.astro";

const { id } = Astro.params;

export interface Props {
	application: Application;
}

const { application } = Astro.props;

export async function getStaticPaths() {
	return applications.map((application) => ({
		params: { id: application.id },
		props: { application },
	}));
}

const grammarScore = application.data.grammarScore;
const grammarScorePercentage = grammarScore * 100;

const { skills, education, pastWork } = application.data.content;

const accumulatorFunction = (
	acc: number,
	curr: ScoredSentence,
	negative: boolean
): number => {
	return acc + (negative ? 0.5 - curr.score : 0.5 + curr.score);
};

const totalScore =
	(grammarScore +
		skills.positiveSentences.reduce(
			(acc, curr) => accumulatorFunction(acc, curr, false),
			0
		) +
		skills.negativeSentences.reduce(
			(acc, curr) => accumulatorFunction(acc, curr, true),
			0
		) +
		education.positiveSentences.reduce(
			(acc, curr) => accumulatorFunction(acc, curr, false),
			0
		) +
		education.negativeSentences.reduce(
			(acc, curr) => accumulatorFunction(acc, curr, true),
			0
		) +
		pastWork.positiveSentences.reduce(
			(acc, curr) => accumulatorFunction(acc, curr, false),
			0
		) +
		pastWork.negativeSentences.reduce(
			(acc, curr) => accumulatorFunction(acc, curr, true),
			0
		)) /
	(1 +
		skills.positiveSentences.length +
		skills.negativeSentences.length +
		education.positiveSentences.length +
		education.negativeSentences.length +
		pastWork.positiveSentences.length +
		pastWork.negativeSentences.length);

const totalScorePercentage = totalScore * 100;
---

<AuthedLayout stakeholder="Staff">
	<div class="mx-10">
		<h2 class="text-xl mt-5 text-primary">Application #{id}</h2>
		<div class="flex flex-col w-full py-4">
			<div class="text-xl">Grammar and spelling</div>
			<div class="flex items-center gap-5">
				<progress
					class={`progress ${
						grammarScorePercentage < 60
							? "progress-warning"
							: "progress-success"
					}`}
					value={grammarScorePercentage}
					max="100"></progress>
				<div>{grammarScorePercentage}%</div>
			</div>
			<div class="divider"></div>
			<div>
				<div class="flex justify-between items-center">
					<h2 class="text-xl">Content</h2>
					<label for="my-modal-4" class="modal-button">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6 cursor-pointer"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
							></path>
						</svg>
					</label>
				</div>
				<input type="checkbox" id="my-modal-4" class="modal-toggle" />
				<label for="my-modal-4" class="modal cursor-pointer">
					<label class="modal-box relative" for="">
						<h3 class="text-lg font-bold">Application Content</h3>
						<p class="py-4">
							Looking for work CV, cover letter and some practical suggestions
							Dr. Daniel Valtakari Introduction As part of my daily job I have
							encountered numerous individuals from different parts of the
							world. One thing they all had in common was the need to find a
							job. These days, that can be a challenge for anyone, let alone for
							somebody coming from a different country and with a different
							cultural background. Now I am sharing my experience with some
							ideas and suggestions I have collected along the way. I don't
							claim to have the best ideas, but I have received feedback from
							many of the people participating and discussing with me on how to
							find an open position and how to get the job. I hope this will
							help you as well. ... and if you feel you have some better ideas,
							don't be shy, share them. There are a lot of people everywhere who
							would appreciate further ideas and guidance. No guide and no
							advice will create more jobs. However, you should be better
							prepared than the competition. It's like a race and you are
							competing with others, not knowing their numbers nor skills. Show
							the future employer that you can offer more, and that you are
							better fit for the position at hand. If possible, even show that
							you can offer more than they bargained for. Most of all, trust
							yourself and your skills. You are good and you are motivated. And
							reading this guide should prove to you that you really want to
							find that job that is maybe at this very moment waiting for you.
							Go and grab it! Dr. Daniel Valtakari, PhD (Chem. Eng.) Turku,
							Finland June 2020 1 st Edition I wish to thank my daughter
							Isabelle Valtakari for her contribution, suggestions and proof
							reading. Thank you!
						</p>
					</label>
				</label>
			</div>

			<SentenceList sentences={skills} title="Skills" />
			<SentenceList sentences={education} title="Education" />
			<SentenceList sentences={pastWork} title="Past Work" />
		</div>
		<div class="divider"></div>
		<div class="card w-full bg-base-100 self-center shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Likely a good hire</h2>
				<span class=""
					>{totalScorePercentage.toFixed(0)}% overall applicant score</span
				>
				<progress
					class="progress progress-info w-full"
					value={totalScorePercentage}
					max="100"></progress>
				<div class="card-actions justify-center gap-24 px-10 mt-5">
					<a class="btn btn-success" href="/staff/success">Accept</a>
					<a class="btn" href="/staff/success">Reject</a>
				</div>
			</div>
		</div>
	</div>
</AuthedLayout>
